127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.122.3 {{k8s_master_name}}
192.168.122.4 {{k8s_node1_name}}
192.168.122.5 {{k8s_node2_name}}

